{% load it_issal %}<div id="body-options">
    <div id="color-options">
        <h2 class="no-margin-top">Color Selector</h2>
        <a href="javascript:void(0);" rel="style-blue.css" class="color-box color-blue">blue</a>
        <a href="javascript:void(0);" rel="style-blue2.css" class="color-box color-blue2">blue2</a>
        <a href="javascript:void(0);" rel="style-blue3.css" class="color-box color-blue3">blue3</a>
        <a href="javascript:void(0);" rel="style-blue4.css" class="color-box color-blue4">blue4</a>
        <a href="javascript:void(0);" rel="style-blue5.css" class="color-box color-blue5">blue5</a>
        <a href="javascript:void(0);" rel="style-green.css" class="color-box color-green">green</a>
        <a href="javascript:void(0);" rel="style-green2.css" class="color-box color-green2">green2</a>
        <a href="javascript:void(0);" rel="style-green3.css" class="color-box color-green3">green3</a>
        <a href="javascript:void(0);" rel="style-green4.css" class="color-box color-green4">green4</a>
        <a href="javascript:void(0);" rel="style-green5.css" class="color-box color-green5">green5</a>
        <a href="javascript:void(0);" rel="style-red.css" class="color-box color-red">red</a>
        <a href="javascript:void(0);" rel="style-red2.css" class="color-box color-red2">red2</a>
        <a href="javascript:void(0);" rel="style-red3.css" class="color-box color-red3">red3</a>
        <a href="javascript:void(0);" rel="style-fuchsia.css" class="color-box color-fuchsia">fuchsia</a>
        <a href="javascript:void(0);" rel="style-pink.css" class="color-box color-pink">pink</a>
        <a href="javascript:void(0);" rel="style-yellow.css" class="color-box color-yellow">yellow</a>
        <a href="javascript:void(0);" rel="style-yellow2.css" class="color-box color-yellow2">yellow2</a>
        <a href="javascript:void(0);" rel="style-orange.css" class="color-box color-orange">orange</a>
        <a href="javascript:void(0);" rel="style-orange2.css" class="color-box color-orange2">orange2</a>
        <a href="javascript:void(0);" rel="style-orange3.css" class="color-box color-orange3">orange3</a>
        <a href="javascript:void(0);" rel="style-violet.css" class="color-box color-violet">violet</a>
        <a href="javascript:void(0);" rel="style-violet2.css" class="color-box color-violet2">violet2</a>
        <a href="javascript:void(0);" rel="style-violet3.css" class="color-box color-violet3">violet3</a>
        <a href="javascript:void(0);" rel="style-gray.css" class="color-box color-gray">gray</a>
        <a href="javascript:void(0);" rel="style-aqua.css" class="color-box color-aqua">aqua</a>
    </div>
    <div>
        <h2>Header Style</h2>
        <form id="header-option">
            <div class="radio">
                <input type="radio" name="headerRadio" id="header-full-radio" value="header-full" checked>
                <label for="header-full-radio">Light Header</label>
            </div>
            <div class="radio">
                <input type="radio" name="headerRadio" id="header-full-dark-radio" value="header-full-dark">
                <label for="header-full-dark-radio">Dark Header</label>
            </div>
            <div class="radio">
                <input type="radio" name="headerRadio" id="no-header-radio" value="no-header">
                <label for="no-header-radio">No Header (Navbar mode)</label>
            </div>
        </form>
    </div>
    <div>
        <h2>Navbar Style</h2>
        <form id="navbar-option">
            <div class="radio">
                <input type="radio" name="navbarRadio" id="navbar-light-radio" value="navbar-light">
                <label for="navbar-light-radio">Light Color</label>
            </div>
            <div class="radio">
                <input type="radio" name="navbarRadio" id="navbar-dark-radio" value="navbar-dark" checked>
                <label for="navbar-dark-radio">Dark Color</label>
            </div>
            <div class="radio">
                <input type="radio" name="navbarRadio" id="navbar-inverse-radio" value="navbar-inverse">
                <label for="navbar-inverse-radio">Primary Color</label>
            </div>
        </form>
    </div>
    <div id="width-options">
        <h2>Container Selector</h2>
        <div class="btn-group">
            <form>
                <input type="checkbox" name="full-width-checkbox" data-label-width="80" data-label-text="Full Width" checked>
            </form>
        </div>
    </div>
</div>
<div id="icon-options">
    <i class="fa fa-gears fa-2x fa-flip-horizontal"></i>
</div>
